#ytrResizeButton {
	display: block;
	float: right;
	background-size: auto;
	width: 30px;
	height: 27px;
}

#ytrResizeButton:hover {
	background-position: 0px 2px !important;
}

#ytR .player-width {
	width:900px
}

#ytR .player-height {
	height:900px
}

#ytrSearchbarButton {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 15px;
    z-index: 999;
}

#ytrSearchbarButton div {
    margin: auto;
    width: 50px;
    height: 15px;
    display: block;
    background-color: #fff;
}