#ytResize {
	display: block;
	float: right;
	background-size: auto;
	width: 30px;
	height: 27px;
}

#ytResize:hover {
	background-position: 0px 2px !important;
}

#ytR .player-width {
	width:900px
}

#ytR .player-height {
	height:900px
}